.columns
  .column.is-4.is-offset-4.has-text-centered
    %span.icon
      %i.mdi.mdi-home
    TODO

.has-text-centered
  Documentation for the
  %a(href="https://github.com/ryoga-chan/djmngr") djmngr
  application.
