.title.is-3 Shortcuts

.block
  Anywhere in the application you can type
  %strong ?
  on the keyboard to see all available keyboard shortcuts based on context.

  = link_to image_url('shortcuts.png') do
    %figure.image.mt-2
      = image_tag 'shortcuts.png'
