.title.is-3 Shortcuts

.block
  Type
  %strong ?
  anywhere in the application to see all available keyboard shortcuts for that page.

  = link_to image_url('shortcuts.png') do
    %figure.image.mt-2
      = image_tag 'shortcuts.png'
